<div class="d-flex flex-column align-items-center mt-2 h-100 ml-2 mr-2 overflow-auto">
  <div class="title d-flex flex-column">
    <div class="title1">
      Suite aux
      <a href="https://www.mediapart.fr/journal/france/100321/argent-public-comment-laurent-wauquiez-arrose-les-siens"
         target="_blank">enquètes
        de mediapart</a>
      qui révèle le système opaque de distribution des subventions régionales de wauquiez
    </div>
    <div class="title2 green mt-2 font-weight-bold text-center">
      Comparez le bugdet alloué de votre commune avec
    </div>
    <div class="title3 violet font-weight-bold">
      le Puy en Velay
    </div>
    <div class="title4 gray">
      (cumulé de 2017, 2018 et 2019)
    </div>
  </div>
  <div class="question mt-4 align-items-center">
    <!--    <mat-card>-->
    <mat-form-field class="violet w-100">
      <input [formControl]="myControl" [matAutocomplete]="auto" aria-label="commune" matInput
             placeholder="Quelle est votre commune ?"
             type="text">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="violet w-100 text-center">
      <button (click)="comparer()" color="primary" mat-raised-button>
        COMPARER
      </button>
    </div>
  </div>

  <div *ngIf="exemple" class="resultat mt-5">
    <div class="d-flex flex-row no-gutters">
      <div class="col bold left green">Vous avez reçu de la région:
        <div class="budget">
          {{myCommune.budget}}€
        </div>
      </div>

      <div class="col right violet">le Puy en Velay a été financé à hauteur de
        <div class="budget">
          4745502€
        </div>
      </div>
    </div>
    <div class="violet mt-3">
      soit une différence de :
      <div class="budget green">
        {{difference}}€
      </div>
    </div>
    <div class="violet mt-3">
      voici un exemple parmi tant d'autres, de ce qui aurait pu être financé avec cette différence dans votre commune:
    </div>
    <div class="exemple mt-4 violet title2">{{exemple}}</div>
    <button (click)="getExemple()" color="accent" mat-button>
      un autre exemple ?
    </button>
    <div class="foot mt-4 text-center green title1 w-100">Toi aussi tu veux plus de probité dans les subventions ?</div>
    <div class="text-center mb-2">
      <a class="violet text-center join" href="https://www.appel-aura-ecologie.fr" target="_blank">
        <button class="" color="accent" mat-raised-button>
          ALORS REJOINS-NOUS :-)
        </button>
      </a>
    </div>
    <div class="text-center">
      et partage sur les reseaux sociaux ton résultat :
      <button [cbContent]="'localhost:4200/avec/'+ myCommune.name" mat-raised-button ngxClipboard>Copie du lien
        : {{myCommune.name}}
      </button>
    </div>
  </div>
  <div class="text-center mt-3">
    <img alt="https://media.nouvelobs.com/referentiel/1024x512/2894887.jpg"
         src="http://referentiel.nouvelobs.com/file/2894719.gif">
  </div>
</div>

<!--<div>comparons au top 5 des votes pour wauqiez en 2016</div>-->
<!--<div>pour rigoler (ou pas)</div>-->
<!--<div>top 5 des mieux subventionner par wauquiez:</div>-->
<!--<div class="row">-->
<!--  <div class="d-flex flex-column col">-->
<!--    <div *ngFor="let comm of top5" class="w-100">{{comm.name}} avec un budget de : {{comm.budget}}</div>-->
<!--  </div>-->
<!--  <div class="d-flex flex-column col">-->
<!--    <div *ngFor="let comm of top5t1" class="w-100">{{comm.name}}, T1 de : {{comm.t1}}</div>-->
<!--  </div>-->
<!--  <div class="d-flex flex-column col">-->
<!--    <div *ngFor="let comm of top5t2" class="w-100">{{comm.name}}, T2 de : {{comm.t2}}</div>-->
<!--  </div>-->

<!--</div>-->


