<div class="d-flex flex-column align-items-center mt-2 h-100 ml-2 mr-2 overflow-auto">
  <div class="title d-flex flex-column">
    <div class="title1">
      Suite aux
      <a href="https://www.mediapart.fr/journal/france/100321/argent-public-comment-laurent-wauquiez-arrose-les-siens"
         target="_blank">enquêtes
        de mediapart</a>
      qui révèlent le système opaque de distribution des subventions régionales de Wauquiez
    </div>
    <div class="title2 green mt-2 font-weight-bold text-center">
      Comparez le montant des subventions accordées à votre commune avec celles accordées au
    </div>
    <div class="title3 violet font-weight-bold">
      Puy-en-Velay
    </div>
    <div class="title4 gray">
      (cumulé de 2017, 2018 et 2019)
    </div>
  </div>
  <div class="question mt-4 align-items-center">
    <mat-form-field class="violet w-100">
      <input [formControl]="myControl" [matAutocomplete]="auto" aria-label="commune" matInput
             placeholder="Quelle est votre commune ?"
             type="text">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="violet w-100 text-center">
      <button (click)="comparer()" color="primary" mat-raised-button>
        COMPARER
      </button>
    </div>
  </div>
  <div *ngIf="exemple" class="resultat mt-5">
    <div class="d-flex flex-row no-gutters">
      <div class="col bold left green">Votre commune à reçu de la région:
        <div class="budget">
          {{myCommune.budget| number:'' :'fr'}}€
        </div>
      </div>

      <div class="col right violet ml-2">le Puy en Velay a été financé à hauteur de
        <div class="budget">
          {{puy| number:'' :'fr' }}€
        </div>
      </div>
    </div>
    <div class="violet mt-3">
      Soit une différence de :
      <div class="budget green">
        {{difference| number:'':'fr' }}€
      </div>
    </div>
    <div class="violet mt-3">
      Voici un exemple parmi tant d'autres de ce qui aurait pu être financé avec si la région avait autant investi dans
      votre commune:
    </div>
    <div class="exemple mt-4 violet title2 font-weight-bold">{{exemple}}</div>
    <button (click)="getExemple()" color="accent" mat-button>
      Un autre exemple ?
    </button>
    <div class="foot mt-4 text-center green title1 w-100 font-weight-bold">
      Vous aussi vous voulez plus de probité dans les subventions ?
    </div>
    <div class="text-center mb-2">
      <a class="violet text-center join" href="https://www.appel-aura-ecologie.fr" target="_blank">
        <button class="" color="accent" mat-raised-button>
          ALORS REJOIGNEZ-NOUS :-)
        </button>
      </a>
    </div>
    <div class="text-center">
      et partagez sur les réseaux sociaux votre résultat :
      <share-buttons
        [include]="['facebook','twitter','messenger','whatsapp','sms','telegram','copy','email','linkedin']"
        [showText]="true"
        [show]="5"
        [size]="0"
        [theme]="'material-light'">
      </share-buttons>
    </div>
  </div>
  <div class="text-center mt-3">
    <img alt="assets/wauquiez.gif" class="w-100"
         src="http://referentiel.nouvelobs.com/file/2894719.gif">
  </div>
</div>

<!--<div>comparons au top 5 des votes pour wauqiez en 2016</div>-->
<!--<div>pour rigoler (ou pas)</div>-->
<!--<div>top 5 des mieux subventionner par wauquiez:</div>-->
<!--<div class="row">-->
<!--  <div class="d-flex flex-column col">-->
<!--    <div *ngFor="let comm of top5" class="w-100">{{comm.name}} avec un budget de : {{comm.budget}}</div>-->
<!--  </div>-->
<!--  <div class="d-flex flex-column col">-->
<!--    <div *ngFor="let comm of top5t1" class="w-100">{{comm.name}}, T1 de : {{comm.t1}}</div>-->
<!--  </div>-->
<!--  <div class="d-flex flex-column col">-->
<!--    <div *ngFor="let comm of top5t2" class="w-100">{{comm.name}}, T2 de : {{comm.t2}}</div>-->
<!--  </div>-->

<!--</div>-->


