.global {
  width: 600px;
}


.title {
  align-items: center;

  &1 {
    font-size: medium;
  }

  &2 {
    font-size: xx-large;
    font-style: italic;
  }

  &3 {
    font-size: xx-large;
    font-style: italic;
    text-decoration: underline;
  }

  &4 {
    font-size: small;
  }
}

.budget {
  font-size: x-large;
  font-weight: bold;
}
.join{
  font-size: 20px;
}

.left {
}

.question {
  max-width: 500px;
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.resultat {
  max-width: 500px;
}

.green {
  color: #57cf52;
}

.violet {
  color: #2b2966;
}

.gray {
  color: gray;
}

.blue {
  color: #2c57da;
}
